﻿
@{
  
    ViewBag.Title = "Aceite";
    
    

}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Aceite</h2>
            <p>La función del aceite es lubricar y proteger el motor, generando una película separadora de las partes móviles y disminuyendo así el desgaste. </p>
        </div>
    </div>
    <div class="slider-img">
      
        <img src="~/Content/images/25.jpg" alt="" />
    </div>
    <div class="clear"></div>
</div>