﻿
@{
  
    ViewBag.Title = "Cambio de aceite";
    
    

}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Cambio de aceite</h2>
            <p>Contamos con una plataforma adecuada para realizar el cambio de aceite, cambio de filtros y engrasamiento para sus vehiculos. </p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/34.jpg"   alt="" />
    </div>
    <div class="clear"></div>
</div>