﻿
@{
  
    ViewBag.Title = "Corriente";
    
    

}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Gasolina Corriente</h2>
            <p>La Gasolina Corriente oxigenada tiene un índice antidetonante de 84 (mínimo). Esta gasolina está diseñada para utilizarse en motores de combustión interna de encendido por chispa y de baja relación de compresión (menos de 9:1). </p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/21.jpg"    alt="" />
    </div>
    <div class="clear"></div>
</div>