﻿
@{
  
    ViewBag.Title = "Filtros";
    
    

}

<div class="wrap">
    <div class="header_bottom">

        <div class="slider-text">
            <h2>Filtros</h2>
            <p> Los filtros son piezas de vital importancia para el funcionamiento del auto y su tarea principal consiste en retener contaminantes. Para qué sirven, su importancia y qué tener en cuenta. </p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/25.jpg"   alt="" />
    </div>
    <div class="clear"></div>
</div>