﻿
@{
  
    ViewBag.Title = "Grasas";
    
    

}

<div class="wrap">
    <div class="header_bottom">

        <div class="slider-text">
            <h2>Grasas</h2>
            <p>Las grasas  pueden brindar una estabilidad de primera categoría contra la oxidación y humedad, así como protección contra corrosión y características de fluidez, incluso a temperaturas muy bajas. </p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/25.jpg"    alt="" />
    </div>
    <div class="clear"></div>
</div>