﻿@{
    ViewBag.Title = "Mision";
}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Mision</h2>
            <p>Generar servicios integrados a través de las ventas de combustibles, aceites, y aditivos; de una manera eficiente y eficaz con diferenciación de la competencia para generar un valor agregado a nuestros clientes.</p>
        </div>
    </div>
    <div class="slider-img">
        <img src="~/Content/images/1.png" alt="" />
    </div>
    <div class="clear"></div>
</div>