﻿
@{
  
    ViewBag.Title = "Mobil";
    
    

}

<div class="main">
    <div class="wrap">
        <div class="preview-page">
            <div class="section group">
                <div class="cont-desc span_1_of_2">
                    <ul class="back-links">
                        <li><a href="#">Inicio</a> ::</li>
                        <li><a href="#">Paginas de productos</a> ::</li>
                        <li>Nombre del producto</li>
                        <div class="clear"> </div>
                    </ul>
                    <div class="product-details">
                        <div class="grid images_3_of_2">
                            <ul id="etalage">
                                <li>
                                    <a href="optionallink.html">
                                        <img class="etalage_thumb_image" src="images/27.jpg" />



                                    </a>
                                </li>
                        </div>
                        <div class="desc span_3_of_2">
                            <h2>20w50 / 12 Super Moto 4t Mobil </h2>

                            <div class="price">
                                <p>Precio: <span>$16.000</span></p>
                            </div>
                            <div class="available">
                                <ul>
                                    <li><span>Tipo:</span> &nbsp; 4t</li>
                                    <li><span>Presentación:</span>&nbsp; cuarto</li>
                                </ul>
                            </div>
                        </div>
                        <img src="~/Content/images/27.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
