﻿@{
    ViewBag.Title = "Par";
}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Parqueadero</h2>
            
            <p>Contamos con el servicio del parqueadero las 24 horas del dia, con un elevado grado de serguridad gracias a nuestras camaras y vigilante que presta este servicio</p>
            <p>5000</p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/23.jpg"    alt="" />
    </div>
    <div class="clear"></div>
</div>