﻿
@{
  
    ViewBag.Title = "Venta del soat";
    
    

}

<div class="wrap">

    <div class="header_bottom">

        <div class="slider-text">
            <h2>Venta del soat</h2>
            <p>Se cuenta con el servicio de venta del Seguro Obligatorio de Accidentes de Tránsito SOAT, cubre a las personas que sean víctimas de accidentes de tránsito según definición aplicable para SOAT y ocurridos dentro del territorio nacional.  </p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/20.png"  alt="" />
    </div>
    <div class="clear"></div>
</div>