﻿
@{
  
    ViewBag.Title = "Venta de combustible";
    
    

}

<div class="wrap">

    <div class="header_bottom">

        <div class="slider-text">
            <h2>Venta de combustibles </h2>

            <p> CORRIENTE</p>

            <p> EXTRA</p>

            <p> A.C.P.M</p>
        </div>
        <div class="slider-img">

            <img src="~/Content/images/14.jpg"   alt="" />
        </div>
        <div class="clear"></div>
    </div>
</div>