﻿
@{
  
    ViewBag.Title = "Venta de aceite, filtros y grasas";
    
    

}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Ventas de aceite, filtros y grasas</h2>
            <p> La estación de servicio el chorro cuenta con gran canitdad de productos de diferentes marcas ya sean aceites en sus distintas presentaciones (pinta,cuartos galón),filtros y grasas.</p>
        </div>
    </div>
    <div class="slider-img">

        <img src="~/Content/images/25.jpg" alt="" />
    </div>
    <div class="clear"></div>
</div>