﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vision";
    
    

}

<div class="wrap">
    <div class="header_bottom">
        <div class="slider-text">
            <h2>Vision</h2>
            <p>Ser la cadena líder en el mercado de los combustibles, aceites y aditivos contando con la preferencia de nuestros clientes aplicando las técnicas y tecnologías más innovadoras a nuestro alcance.</p>
        </div>
    </div>
    <div class="slider-img">
      
        <img src="~/Content/images/1.png"  alt="" />
    </div>
    <div class="clear"></div>
</div>