﻿@model ProyectoFinal2.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenServicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
