﻿@model ProyectoFinal2.Servicio

@{
    ViewBag.Title = "Crear";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Servicio</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreServicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreServicio)
                @Html.ValidationMessageFor(model => model.NombreServicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionServicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionServicio)
                @Html.ValidationMessageFor(model => model.DescripcionServicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioServicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioServicio)
                @Html.ValidationMessageFor(model => model.PrecioServicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagenServicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagenServicio)
                @Html.ValidationMessageFor(model => model.ImagenServicio)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
