﻿@model IEnumerable<ProyectoFinal2.Servicio>

@{
    ViewBag.Title = "agregar servicio";
}

<h2>Agregar</h2>

<p>
    @Html.ActionLink("crear nuevo servicio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenServicio)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenServicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
