﻿<!DOCTYPE html>
<html>
<head>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
        <link href="~/Content/css/style.css" rel="stylesheet"  type="text/css" media="all"/>
        <script src="~/Content/js/jquery-1.9.0.min.js" type="text/javascript"> </script>
        <script src="~/Content/js/jquery.openCarousel.js" type="text/javascript"> </script>
        <script src="~/Content/js/easing.js" type="text/javascript"> </script>
        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/Content/js")

    </head>
    <body>
        <div class="header">
            <div class="wrap">
                <div class="header_top">
                    <div class="logo">
                        <a href="index.html"><img src="~/Content/images/36.jpg" alt="" /></a>
                        
                    </div>

                    <div class="clear"></div>

                </div>
                <div class="clear"></div>
            </div>
            <div class="navigation">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                   
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                   
                    <li>

                        <a href="#">Quienes somos</a>
                        <ul>

                            
                            <li>@Html.ActionLink("Mision", "Mision", "Home")</li>
                            <li>@Html.ActionLink("Vision", "Vision", "Home")</li>

                        </ul>
                    </li>

               
                <li>
                    <a href="#">Servicios</a>
                    <ul>

                        <li>@Html.ActionLink("Parqueadero", "Par", "Home")</li>
                        <li>@Html.ActionLink("Cambio de aceite", "Cambioaceite", "Home")</li>
                        <li>@Html.ActionLink("Vente de aceite, filtros y grasas", "Ventasp", "Home")</li>
                        <li>@Html.ActionLink("Venta de combustible", "Ventac", "Home")</li>
                        <li>@Html.ActionLink("Venta del soat", "Ventas", "Home")</li>
                     



                  


                    </ul>
                </li>
                    <li>
                        <a href="#">Productos</a>
                        <ul>
                            <li>
                                <a href="#">Combustibles</a>
                                <ul>
                                    <li>@Html.ActionLink("Corriente", "Corriente", "Home")</li>
                                    <li>@Html.ActionLink("Extra", "Extra", "Home")</li>
                                    <li>@Html.ActionLink("Acpm", "ACPM", "Home")</li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">lubricantes</a>
                                <ul>
                                    <li>@Html.ActionLink("Aceite", "Aceite", "Home")</li>
                                    <li>@Html.ActionLink("Filtros", "Filtros", "Home")</li>
                                    <li>@Html.ActionLink("Grasas", "Grasas", "Home")</li>
                                </ul>
                            </li>

                        </ul>
                    
                    <li>@Html.ActionLink(" Agregar servicio", "Index", "Servicio")</li>
      

                   
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                


                    @Html.Partial("_LoginPartial")
                </ul>
               

                <span class="left-ribbon"> </span>
                <span class="right-ribbon"> </span>
            </div>
            <div class="container body-content">
                @RenderBody()

                <div class="footer">
                    <div class="wrap">
                        <div class="copy_right">
                            <p>creada por diego rivera y julio orozco  </p>
                        </div>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="#">estacionelchorro@hotmail.com</a> : </li>
                                <li><a href="#">435 2697</a> : </li>
                                <li><a href="contact.html">carrera 10 con calle 20 esquina</a> : </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                </script>
                <a href="#" id="toTop"> </a>
                

                <script src="~/Content/js/navigation.js" type="text/javascript"></script>
            </div>
            </form>
            
          
            @RenderSection("scripts", required: false)
    </body>
</html>
